language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

branches:
  only:
    - master
    - /^\d+\.\d+$/
    - travis-setup

env:
  global:
    - SYMFONY_DEPRECATIONS_HELPER="max[self]=0"
    - PHPUNIT_FLAGS="-v"
    - PHPUNIT_ENABLED="true"
    - STABILITY=stable
    - COVERALLS_ENABLED="false"

matrix:
  fast_finish: true
  include:
    - php: '7.1'
    - php: '7.2'
    - php: '7.3'
    - php: '7.4'

    # Enable code coverage with the previous supported PHP version
    - php: '7.3'
      env:
        - SYMFONY_VERSION=3.4.*
        - COVERALLS_ENABLED="true"
        - PHPUNIT_FLAGS="-v --coverage-text --coverage-clover var/build/clover.xml"

    # Enable code coverage with the latest supported PHP version
    - php: '7.4'
      env:
        - SYMFONY_VERSION=3.4.*
        - COVERALLS_ENABLED="true"
        - PHPUNIT_FLAGS="-v --coverage-text --coverage-clover var/build/clover.xml"

    # Minimum supported dependencies with the latest and oldest supported PHP versions
    - php: '7.1'
      env:
        - COMPOSER_FLAGS="--prefer-lowest"
    - php: '7.3'
      env:
        - COMPOSER_FLAGS="--prefer-lowest"

    # Test each supported Symfony version with lowest supported PHP version
    - php: '7.1'
      env:
        - SYMFONY_VERSION=3.4.*
    - php: '7.1'
      env:
        - SYMFONY_VERSION=4.3.*
    - php: '7.1'
      env:
        - SYMFONY_VERSION=4.4.*
    - php: '7.2'
      env:
        - COVERALLS_ENABLED="true"
        - PHPUNIT_FLAGS="-v --coverage-text --coverage-clover var/build/clover.xml"
        - SYMFONY_VERSION=5.0.*

    # Test unsupported versions of Symfony
    - php: '7.1'
      env:
        - SYMFONY_VERSION=4.0.*
    - php: '7.1'
      env:
        - SYMFONY_VERSION=4.1.*
    - php: '7.1'
      env:
        - SYMFONY_VERSION=4.2.*


    # Test upcoming Symfony versions with lowest supported PHP version and dev dependencies
    - php: '7.2'
      env:
        - STABILITY=dev
        - SYMFONY_VERSION=5.1.*

    # Test upcoming PHP versions with dev dependencies
    - php: '7.5snapshot'
      env:
        - STABILITY=dev
        - COMPOSER_FLAGS="--ignore-platform-reqs --prefer-stable"

  allow_failures:
    - php: '7.4'
    - env:
        - SYMFONY_VERSION=4.0.*
    - env:
        - SYMFONY_VERSION=4.1.*
    - env:
        - SYMFONY_VERSION=4.2.*
    - env:
        - STABILITY=dev
        - COMPOSER_FLAGS="--ignore-platform-reqs --prefer-stable"
    - env:
        - STABILITY=dev
        - SYMFONY_VERSION=5.1.*

before_install:
  - if [[ "$SYMFONY_VERSION" != "" ]]; then
      travis_retry composer global require "symfony/flex:^1.4";
      composer config extra.symfony.require $SYMFONY_VERSION;
    fi
  - if [[ "$STABILITY" != "stable" ]]; then
      travis_retry composer config minimum-stability $STABILITY;
    fi
  - if [[ "$COVERALLS_ENABLED" != "true" ]]; then
      phpenv config-rm xdebug.ini || true;
    fi
  - if [[ "$COVERALLS_ENABLED" == "true" ]]; then
      travis_retry composer require --dev satooshi/php-coveralls:^2.0 --no-update $COMPOSER_FLAGS;
    fi

install:
  - travis_retry composer update --prefer-dist --no-interaction --no-suggest --no-progress --ansi $COMPOSER_FLAGS

script: ./vendor/bin/phpunit $PHPUNIT_FLAGS

after_success:
  - if [[ "$PHPUNIT_ENABLED" == "true" && "$COVERALLS_ENABLED" == "true" ]]; then
    ./vendor/bin/php-coveralls -vvv --config .coveralls.yml;
    fi;
